tmp/
components/
managed_components/
build/
.vscode/
.cursor/
.devcontainer/
sdkconfig.old
sdkconfig
dependencies.lock
.env
releases/
main/assets/lang_config.h
.DS_Store
.cache
xiaozhi-esp32.code-workspace